* {
    /* Selector comodín (Selecciona todos los elementos html) */
    /* ouline: 1px solid crimson; */
    /* Línea externa de 2px */
    margin: 0;
    /* Formatea espacios externos de elementos html */
    padding: 0;
    /* Formatea espacios internos de elementos html */
    box-sizing: border-box;
    /* Considera bordes dentro de tamaño de elementos */
}
body{
    padding:40px;
}
h1 {
    color: rebeccapurple;
}

.green {
    color: mediumseagreen;
}

#red {
    color: tomato;
}

.quote p {
    color: darkslategray;
    font-style: italic;
}

.quote h4{
    color: rgb(76, 121, 90);
    font-weight: bold; /* Negrita */
}