*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, sans-serif;
}
.navbar {
    padding: 15px 40px;
    /* Flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo a {
    color: black;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    /* Flexbox */
    display: flex;
    align-items: center;
}
.blue{
    color: #2563eb;
}
/* Navegación */
.nav-links {
    /* Flex */
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

/* Efecto hover */
.nav-links a:hover {
    background-color: #216DEA;
    color: #ffffff;
    transform: scale(1.1);
}
#especial{
    background-color: #216DEA;
    color: #ffffff;
}
.caja1{
    background-color: #F5F8FE;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.caja2{
display: flex;
flex-direction: column;
padding: 20px;
gap: 15px;
flex: 1;
}
.caja3{
    display: flex;
    gap: 15px;
}
.button{
    background-color: #226FEC;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    transition: transform 0.3s ease;
}
.button:hover {
    background-color: #226FEC;
    color: #ffffff;
    transform: scale(1.1);
}
.boton{
    border: none;
    background-color: #F5F8FE;
    color: #0048E5;
    transition: transform 0.3s ease;
}
.boton:hover{
    background-color: #F5F8FE;
    color: #0048E5;
    transform: scale(1.1);
}

.caja4{
    flex: 1;
    margin: 20px;
}
.caja4 img{
    max-width: 500px; /* ancho máximo*/
}
.seccion{
    text-align: center;
}
.caja_grande{
    display: flex;
    justify-content: space-around;
}
.caja5{
padding: 20px;
}
.caja5 img{
    max-width: 100px;
}
.sepa{
    margin: 10px 0px;
}
.caja6{
    background-color: #F5F8FE;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px;
    padding: 15px 0px;
}
.texto{
    margin: 20px 0px;
}
.mediano{
    padding: 15px;
    font-size:  16px;
    font-weight: bold;
}
footer{
    display: flex;
}
.ca1{
    padding: 20px;
    justify-content: flex-start;
    flex: 3;
}
.ca2{
    padding: 20px;
    flex: 2;
}